<form action="<%= mails_url %>" method="post">
  <%= auth_token %>

  <label for="mails_email">
    Email:
  </label>

  <input type="text" name="mails[email]" id="mails_email">
  <input type="submit" value="Send reset password link">
</form>